@model StudentManagement.WebApp.Models.StudentUpdate
@{
    ViewBag.Title = "Edit";
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<div id="back-btn">
    <a asp-controller="Home" asp-action="Index" role="button" class="btn btn-primary">&lt;&lt; Back to home</a>
</div>
<div class="m-auto" id="wrap-form">
    <form asp-action="Edit" asp-route-id="@ViewBag.id" method="post" role="form">
        <div class="row mb-3">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="FirstName" class="form-control" value="@ViewBag.student.Name.Split(" ")[0]">
            </div>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="LastName" class="form-control" value="@ViewBag.student.Name.Split(" ")[1]" />
            </div>
            <span asp-validation-for="LastName" class="text-danger"></span>

        </div>

        <div class="row mb-3">
            <label asp-for="Gender" class="col-md-2 control-label"></label>

            <div class="btn-group col-md-5 radio-toggle" role="group" aria-label="Basic radio toggle button group">

                <input id="radio-male" asp-for="Gender" value="Male" type="radio" class="btn-check" autocomplete="off">
                <label class="btn btn-outline-primary" for="radio-male">Male</label>

                <input id="radio-female" asp-for="Gender" value="Female" type="radio" class="btn-check" autocomplete="off">
                <label class="btn btn-outline-primary" for="radio-female">Female</label>
            </div>
            <span asp-validation-for="Gender" class="text-danger"></span>

        </div>
        <div class="row mb-3">
            <label asp-for="Fees" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Fees" class="form-control" value="@ViewBag.student.Fees" />
            </div>
            <span asp-validation-for="Fees" class="text-danger"></span>

        </div>
        <div class="row mb-3">
            <label asp-for="Age" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="Age" class="form-control" value="@ViewBag.student.Age" />
            </div>
            <span asp-validation-for="Age" class="text-danger"></span>

        </div>
        <div class="row mb-3">
            <label asp-for="Course" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <select asp-for="Course" id="coursesDropDown" class="form-control">
                </select>
            </div>
            <span asp-validation-for="Course" class="text-danger"></span>

        </div>
        <div class="row mb-3">
            <label asp-for="Section" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <select id="sectionsDropDown" asp-for="Section" class="form-control"></select>
            </div>
            <span asp-validation-for="Section" class="text-danger"></span>

        </div>

        <div class="row mb-3">
            <label asp-for="DateOfAdmission" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input type="date" asp-for="DateOfAdmission" class="form-control" value="@ViewBag.student.DateOfAdmission.Date.ToString("yyyy-MM-dd")" />
            </div>
            <span asp-validation-for="DateOfAdmission" class="text-danger"></span>
        </div>

        <div class="row mb-3 mt-3" id="btn-wrap">
            <div id="cancel-btn" class="col-md-2">
                <a asp-action="Index" asp-controller="Home" role="button" class="btn btn-primary">Cancel</a>
            </div>
            <div id="add-btn" class="col-md-5">
                <input type="submit" class="btn btn-primary" value="Update" />
            </div>
        </div>
    </form>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>

<script type="text/javascript">
    window.addEventListener('load', myfunc, false);

    function myfunc() {
        if ('@ViewBag.student.Gender' == "Male") {
            document.getElementById("radio-male").setAttribute("checked", "true");
        }
        else {
            document.getElementById("radio-female").setAttribute("checked", "true");
        }

        SelectElm = document.getElementById("coursesDropDown");
        SelectElm.value = '@ViewBag.student.Course';

        SelectElm = document.getElementById("sectionsDropDown");
        SelectElm.value = '@ViewBag.student.Section';



    };



</script>