@model StudentManagement.WebApp.Models.Student

@{
    ViewData["Title"] = "Student Detail Page";
}

<style>
    .rightsided-btn {
        margin-left: 70%;
        margin-bottom: 8px;
    }
</style>

<div class="container">
    <div class="nav-btn">
        <div class="rightsided-btn">
            <a asp-action="Index" role="button" class="btn btn-primary">&lt;&lt; Back to home</a>
        </div>
        <div class="rightsided-btn">
            <a asp-action="Edit" asp-route-id="@Model.Id" role="button" class="btn btn-primary">Edit</a>
        </div>
    </div>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>First Name</td>
                <td>@Model.Name.Split(" ")[0]</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>@Model.Name.Split(" ")[1]</td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>@Model.Gender</td>
            </tr>
            <tr>
                <td>Fees</td>
                <td>@Model.Fees</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>@Model.Age</td>
            </tr>
            <tr>
                <td>Course Name</td>
                <td>@Model.CourseName</td>
            </tr>
            <tr>
                <td>Section Assigned</td>
                <td>@Model.Section</td>
            </tr>
            <tr>
                <td>Date of Admission</td>
                <td>@Model.DateOfAdmission.ToString("dd/MM/yyyy")</td>
            </tr>

            @*<tr>
            <th scope="row">@Model.Id</th>
            <td><a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-link btn-sm">@Model.Name</a></td>
            <td>@Model.Section</td>
            <td>@Model.Gender</td>
            <td>@Model.CourseName</td>
            <td>@Model.DateOfAdmission</td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success btn-sm text-white">Edit</a>
                <a asp-action="Delete" asp-route-id="@Model.Id" asp- class="btn btn-danger btn-sm text-white" onclick="return confirm('Are you sure you want to delete?')">Delete</a>
            </td>
        </tr>*@
        </tbody>
    </table>
</div>
